* {
    z-index: 2;
}

html {
    overflow-y: scroll;
}

body {
    font-family: "Josefin Sans", serif;
    font-size: 16px;
}

hr {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

p {
    padding-left: 2em;
}

.x-background-image {
    background-image: url("../../media/images/background.jpg");
}

.transparent {
    background-color: transparent;
}

.logo {
    height: 100%;
    vertical-align: middle;
}

.footer, .header {
    min-height: 200px;
}

.header {
}

.header-content {
    height: 100%;
    font-family: "Great Vibes", serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px #eee;
}

.header-subtitle {
    font-size: 20px;
}

.footer {
    font-size: 14px;
}

.footer-col-h {
    text-transform: uppercase;
}

.footer-col-content {
    font-size: 14px;
}

.footer-col-content div {
    margin-top: 10px;
}

.footer-copyright {
    font-size: 12px;
    text-align: center;
}

.header {
    min-height: 300px;
}

.site-wrapper {
    background-color: white;
    margin: 0 auto;
    max-width: 48em;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.92);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.92);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.92);
}

.content-wrapper {
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;

    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
}

#home-menu {
    text-align: center;
    text-transform: uppercase;
}

#home-menu ul {
    font-size: 12px;
}

.nav-button-burger {
    position: fixed;
    top: -2px;
    right: 0px;
}

.post {
    margin-top: 2em;
}

.post-title {
}

.post-meta {
    margin-top: -1em;
    font-size: 80%;
}

.post-summary {
    margin-top: 1em;
}

@media (min-width: 40em) {
    .nav-button-burger {
        visibility: hidden;
    }

    .x-site-wrapper {
        margin-left: 5em;
        margin-right: 5em;
    }
    
    .content-wrapper {
        padding-left: 4em;
        padding-right: 4em;
    }

    #home-menu {
        text-align: center;
    }

    #home-menu ul {
    }
}

@media (min-width: 78em) {
    .x-site-wrapper {
        margin-left: 16em;
        margin-right: 16em;
    }
    
    .content-wrapper {
    }
}
