* {
    z-index: 2;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
    font-family: "Josefin Sans", serif;
    font-size: 16px;
    background-color: #fee;
    background-image: url("../../media/images/bg-tile3.jpg");
}

h1,
h2 {
    color: #999;
}

hr {
    border: 0;
    height: 1px;
    margin: 0;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
}

p {
    padding-left: 2em;
}

.home-background {
    background-color: #fff;
}

.transparent {
    background-color: transparent;
}

.logo {
    height: 100%;
    vertical-align: middle;
}

.footer, .header {
    min-height: 200px;
}

.header {
}

.header-content {
    padding-top: 100px;
    height: 100%;
    font-family: "Great Vibes", serif;
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 4px #eee;
}

.header-subtitle {
    font-size: 20px;
}

.footer {
    font-size: 14px;
}

.footer-col-h {
    text-transform: uppercase;
}

.footer-col-content {
    font-size: 14px;
}

.footer-col-content div {
    margin-top: 10px;
}

.footer-copyright {
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

.header {
    min-height: 300px;
}

.site-wrapper {
    background-color: white;
    margin: 0 auto;
    max-width: 48em;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(50, 50, 50, 0.92);
    -moz-box-shadow:    0px 0px 9px 0px rgba(50, 50, 50, 0.92);
    box-shadow:         0px 0px 9px 0px rgba(50, 50, 50, 0.92);
}

.content-wrapper {
    padding: 2em;
    padding-left: 2em;
    padding-right: 2em;

    text-align: justify;
    margin-top: 2em;
    margin-bottom: 2em;
}

#home-menu {
    text-align: center;
    text-transform: uppercase;
    z-index: 10;
}

#home-menu ul {
    font-size: 12px;
}

.home-content {
    margin: auto;
    position: absolute;
    top: 30px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 500px;
    max-width: 450px;
    background-image: url("../../media/images/client/422965_2705438364178_1503331112_31970141_1410852333_n.jpg");
    /*
    background-image: url("../../media/images/client/1300_601189413249237_438972988_n.jpg");
    */
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -9999;

    /* photo effect */
    border: 6px solid #fff;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.home-content-inner {
    margin: auto;
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(64, 64, 64, 0.55);
}

.home-content-title {
    color: white;
}

.nav-button-burger {
    position: fixed;
    top: -2px;
    right: 0px;
}

.post {
    margin-top: 2em;
}

.post-title {
}

.post-meta {
    margin-top: -1em;
    font-size: 80%;
}

.post-summary {
    margin-top: 1em;
}

/*STACK ONE*/
.stackone {
}
                 
/*STACK TWO*/
.stacktwo {
    top: 5px;
    left: -5px;
    background-image: none;
    background-color: silver;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
   
/*STACK THREE*/
.stackthree {
    top: 10px;
    left: -5px;
    background-image: none;
    background-color: silver;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.gmap-embed {
    position: relative;
    padding-bottom: 75%;
    height: 0;
    overflow: hidden;

    text-align: center;
    left: auto;
    right: auto;
    border: 6px solid #fff;
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.gmap-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.pure-group {
    max-width: 300px;
}


@media (min-width: 40em) {
    .nav-button-burger {
        visibility: hidden;
    }

    .x-site-wrapper {
        margin-left: 5em;
        margin-right: 5em;
    }
    
    .content-wrapper {
        padding-left: 4em;
        padding-right: 4em;
    }

    #home-menu {
        text-align: center;
    }

    #home-menu ul {
    }
}

@media (min-width: 78em) {
    .x-site-wrapper {
        margin-left: 16em;
        margin-right: 16em;
    }
    
    .content-wrapper {
    }
}
