<div class="footer">
    <div class="container-fluid">
        <div class="col-md-4">
            <h4 class="footer-col-h">Posts</h4>
            <p>Lorem ipsuma nd shit poask ppsdk pdkp[qwl [qw[l [qwl[d las[dl as;dlasd' asld as c;l ;c';s 'das ;.c;'a. as </p>
        </div>
        <div class="col-md-4">
            <h4 class="footer-col-h">Social Media</h4>
            <p>Lorem ipsuma nd shit poask ppsdk pdkp[qwl [qw[l [qwl[d las[dl as;dlasd' asld as c;l ;c';s 'das ;.c;'a. as </p>
        </div>
        <div class="col-md-4">
            <h4 class="footer-col-h">Quick Contact</h4>
            <div class="footer-col-content">
                <div><i class="fa fa-phone fa-fw"></i> 794-1122/ 525-6465/ 343-2765</div>
                <div><i class="fa fa-envelope-o fa-fw"></i> weddingkimigo@yahoo.com</div>
                <div><i class="fa fa-envelope-o fa-fw"></i> kimigo_gallery@yahoo.com.ph</div>
                <div><i class="fa fa-map-marker fa-fw"></i> Unit 1, Royalle Parthenon Square, Tandang Sora QC</div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="footer-copyright">
        Copyright 2014. Wedding Kimi Go. All Rights Reserved.
    </div>
</div>
