    <ul id="mainnav">
        <li>
        <a href="{{ .Site.BaseUrl }}/">
            <span>Home</span>
        </a>
        <li>
        <a href="{{ .Site.BaseUrl }}/about/">
            <span>About</span>
        </a>
        <li>
        <a href="{{ .Site.BaseUrl }}/gallery/">
            <span>Gallery</span>
        </a>
        <li>
        <a href="{{ .Site.BaseUrl }}/events/">
            <span>Events</span>
        </a>
        <li>
        <a href="{{ .Site.BaseUrl }}/blog/">
            <span>Blog</span>
        </a>
        <li>
        <a href="{{ .Site.BaseUrl }}/contactus/">
            <span>Contact Us</span>
        </a>
    </ul>
