    <ul id="mainnav">
        <li>
        <a href="/">
            <span>Home</span>
        </a>
        <li>
        <a href="/about/">
            <span>About</span>
        </a>
        <li>
        <a href="/gallery/">
            <span>Gallery</span>
        </a>
        <li>
        <a href="/events/">
            <span>Events</span>
        </a>
        <li>
        <a href="/blog/">
            <span>Blog</span>
        </a>
        <li>
        <a href="/contactus/">
            <span>Contact Us</span>
        </a>
    </ul>
