<!DOCTYPE html>
<html class="no-js" lang="en-US">
{{ partial "head.html" . }}
<body lang="en" class="home-background">
{{ partial "nav.html" . }}
<div class="home-content">
    <div class="home-content-inner">
        <span class="social">
            <img src="{{ .Site.BaseUrl }}/media/icons/colour/facebook.png">
            <img src="{{ .Site.BaseUrl }}/media/icons/colour/google+.png">
        </span>
        <div class="home-content-title">
            Kimi Go One Stop Wedding Shop
        </div>
    </div>
</div>
</body>
</html>
